.main-dashboard {
	background-color: #15202c;
}

.tweet-list {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	max-width: 500px;
	padding: 10px 10px 10px 10px;

	.card-profile-image {
		width: 20%;
		max-width: 60px;
	}

	.card-content {
		padding: 0 5px 0 5px;
	}

	.tweet-header {
		display: flex;
		justify-content: flex-start;
	}

	.tweet-author {
		margin: 0 5px 0 5px;
		display: flex;
		justify-content: space-between;
	}

	.tweet-timestamp {
		margin: 0 5px 0 5px;
	}

	.tweet-text {
		width: 100%;
		padding: 5px 5px 5px 5px;
	}
}

.card:last-child {
	border-bottom: 1px solid grey;
}
