a {
  text-decoration: none; }

.grey-border {
  border-top: 1px solid #38444d;
  border-left: 1px solid #38444d;
  border-right: 1px solid #38444d; }

.grey-text {
  color: #8799a6; }

.white-text {
  color: white; }

.bold {
  font-weight: bold; }

.responsive-image {
  height: auto;
  width: 100%; }

.circle {
  border-radius: 50%; }

.main-dashboard {
  background-color: #15202c; }

.tweet-list {
  display: flex;
  flex-direction: column;
  align-items: center; }

.card {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  max-width: 500px;
  padding: 10px 10px 10px 10px; }
  .card .card-profile-image {
    width: 20%;
    max-width: 60px; }
  .card .card-content {
    padding: 0 5px 0 5px; }
  .card .tweet-header {
    display: flex;
    justify-content: flex-start; }
  .card .tweet-author {
    margin: 0 5px 0 5px;
    display: flex;
    justify-content: space-between; }
  .card .tweet-timestamp {
    margin: 0 5px 0 5px; }
  .card .tweet-text {
    width: 100%;
    padding: 5px 5px 5px 5px; }

.card:last-child {
  border-bottom: 1px solid grey; }

body {
  background-color: light-grey; }
